apiVersion: apps/v1
kind: Deployment
metadata:
  name: brain-tasks-web
  labels:
    app: brain-tasks-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: brain-tasks-web
  template:
    metadata:
      labels:
        app: brain-tasks-web
    spec:
      containers:
        - name: web
          image: 866945988845.dkr.ecr.us-east-1.amazonaws.com/brain-tasks-app:latest
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "50m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 15

